@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
<<<<<<< HEAD
  animation: scroll 30s linear infinite;
=======
  animation: scroll 10s linear infinite;
>>>>>>> a05c71d (Latest)
}